/* ==========================================================================
   DARK THEME
   ========================================================================== */

/* Xcode Dark Mode-inspired colors */
$gray                       : #7d8696;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);

$background                 : #282c34; /* Deep dark gray (Xcode's editor background) */
$background-light           : mix(#fff, $background, 70%);
$background-lighter         : mix(#fff, $background, 85%);
$text                       : #e5e6eb; /* Soft gray-white for readability */
$link                       : #3fb9ff; /* Apple's signature blue */
$link-dark                  : mix(#000, $link, 30%);
$link-light                 : mix(#fff, $link, 35%);

/* Xcode-inspired site-specific colors */
$danger-color               : #ff375f; /* Apple Red */
$info-color                 : #64d2ff; /* Light blue accent */
$notice-color               : #7d8696;
$success-color              : #34c759; /* Apple Green */
$warning-color              : #ff9f0a; /* Bright orange */



/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$background};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$background};
    --global-border-color               : #{$light-gray};
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$background-light};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$background-lighter};
}